TPPL*
*.bak
vpr/*.net
vpr/*.[0-9][0-9][0-9]
.Rproj.user
.Rhistory
.Rprofile
.DS_Store

#folder
data/external/tomtom
data/interim/tomtom
data/interim/step3_join_shst_extraction_with_osm
data/interim/step4_conflate_with_tomtom
data/external/TM2_Marin
data/external/TM2_nonMarin
data/interim/tm2_Marin
data/interim/tm2_nonMarin
data/interim/sfcta
data/interim/stclines

#file
data/interim/unmatched_tomtom.geojson
data/interim/link_not_conflated_with_tomtom.geojson
data/interim/step5_tidy_roadway/*.geojson
data/interim/step5_tidy_roadway/*.json
data/interim/step6_gtfs/*.geojson
data/interim/step6_gtfs/*.json
!pems_conflation.ipynb
*.twbr
*.pyc

notebooks/.ipynb_checkpoints/*
notebooks/other/.ipynb_checkpoints/*
notebooks/pipeline/.ipynb_checkpoints/*
data/interim/facility-type-viewer-residential.geojson
data/interim/step5_tidy_roadway/link.json
data/interim/step5_tidy_roadway/node.geojson
data/interim/step5_tidy_roadway/shape.geojson
data/interim/pedestrian-viewer.geojson
data/interim/step8_standard_format/link.json
data/interim/step8_standard_format/node.geojson
data/interim/step8_standard_format/shape.geojson
data/processed/version_02/working_scenario_00.pickle
data/processed/version_03/working_scenario_00.pickle
