TPPL*
*.bak
vpr/*.net
vpr/*.[0-9][0-9][0-9]
.Rproj.user
.Rhistory
.DS_Store

#folder
data/external/tomtom
data/interim/tomtom
data/interim/step3_join_shst_extraction_with_osm
data/interim/step4_conflate_with_tomtom

#file
data/interim/unmatched_tomtom.geojson
data/interim/link_not_conflated_with_tomtom.geojson
data/interim/step5_tidy_roadway/*.geojson
data/interim/step5_tidy_roadway/*.json
*.ipynb
*.twbr
*.pyc
data/interim/conflation_review_for_tableau.csv
src/scripts/.Rhistory
