TPPL*
*.bak
vpr/*.net
vpr/*.[0-9][0-9][0-9]
.Rproj.user
.Rhistory
.Rprofile
.DS_Store

#folder
data/

#file
!pems_conflation.ipynb
*.twbr
*.pyc
*.transit.geojson

notebooks/.ipynb_checkpoints/*
notebooks/other/.ipynb_checkpoints/*
notebooks/pipeline/.ipynb_checkpoints/*
notebooks/network_wrangler_*.log
notebooks/pipeline/network_wrangler_*.log
.idea/workspace.xml
